/* src/app/globals.css */

/* Tailwind CSS'in temel katmanlarını projeye dahil eder. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Buraya, projenin tamamını etkileyecek çok özel ve genel
  bir stil eklemek isterseniz kullanabilirsiniz.
  Şimdilik temiz kalması en iyisidir.
*/

/* Önceki görevde eklediğimiz Embla Carousel stilleri */
.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
